<header>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center cwhite">Términos y Condiciones</h1>
      </div>
    </div>
  </div>
</header>

<main class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit aperiam placeat aut odit, doloremque a quod, ullam quam debitis animi sint ut nemo, vel voluptate inventore provident ratione ducimus minus itaque. Enim ipsam, quis ratione molestiae ad possimus esse blanditiis suscipit eius. Magni ratione molestiae aspernatur dicta in quo excepturi inventore autem velit. Provident quod enim, officia adipisci quas in et architecto fuga quibusdam maiores aliquid veritatis distinctio repudiandae, illum ipsa ea consequatur laboriosam suscipit quia unde nihil rem? Explicabo nam numquam repellendus minima deserunt quidem non obcaecati, officia rerum illo nesciunt magni iusto pariatur tenetur inventore velit, maiores ex.
      </div>
    </div>
  </div>
</main>