<app-header-pages [titulo]="titulo"></app-header-pages>

<main class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <p>Esta página web es propiedad y está operado por <span class="text-bold">CoinCity.</span> Estos principios conforman los términos y condiciones
        bajo los cuales ustedes podrán usar nuestra página web y juego ofrecidos por nosotros. Este sitio web ofrece a
        los visitantes poder informarte sobre nuestro juego e invertir en él. Al ingresar o hacer uso de la página web
        de nuestro juego, usted aprueba que haya leído, entendido y aceptado estar sujeto a estos Términos: <span class="text-bold">CoinCity</span> no
        será responsable por daños indirectos, punitivos, incidentales, especiales, consecuentes o ejemplares,
        incluidos, entre otros, daños por pérdida de beneficios, buena voluntad, uso, datos. U otras pérdidas
        intangibles, que surjan de o estén relacionadas con el uso o la imposibilidad de utilizar nuestro juego.</p>

        <p>En la máxima medida permitida por los términos aplicable. <span class="text-bold">CoinCity</span> no asume responsabilidad alguna por <span class="text-bold">(I)</span>
        errores, errores o inexactitudes de contenido; <span class="text-bold">(II)</span> lesiones personales o daños a la propiedad, de cualquier
        naturaleza que sean, como resultado de tu acceso o uso de nuestro juego <span class="text-bold">(III)</span> cualquier acceso no autorizado o
        uso de nuestros servidores seguros y / o toda la información personal almacenada en los mismos <span class="text-bold">(IV)</span> No nos
        hacemos responsables del robo de activos digitales por circunstancias alternas <span class="text-bold">(Ha conectado el metamask en un
        proyecto desconocido, Ha dado su contraseña o semilla de su CryptoWallet).</span></p>

        <p>Nuestro Juego <span class="text-bold">CoinCity</span> y todos los materiales incluidos o transferidos, incluyendo, sin limitación, software,
        imágenes, texto, gráficos, logotipos, patentes, marcas registradas, marcas de servicio, derechos de autor,
        fotografías, audio, videos, música y todos los Derechos de Propiedad Intelectual relacionados con ellos, son la
        propiedad exclusiva de <span class="text-bold">CoinCity.</span> Salvo que se indique explícitamente en este documento, no se considerará que
        nada en estos términos crea una licencia en o bajo ninguno de dichos Derechos de Propiedad Intelectual y tu
        aceptas no vender, licenciar, alquilar, modificar, distribuir, copiar, reproducir, transmitir, exhibir
        públicamente, realizar públicamente, publicar, adaptar, editar o crear trabajos derivados de los mismos. Para
        usar nuestro página web y / o usar la plataforma del juego, debes tener al menos 18 años de edad, o la mayoría
        de edad legal en tu jurisdicción, y poseer la autoridad legal, el derecho y la libertad para participar en estos
        Términos como un acuerdo vinculante. No tienes permitido utilizar esta página web y / o recibir servicios si
        hacerlo está prohibido en tu país o en virtud de cualquier ley o regulación aplicable a tu caso. Términos de
        inversión ofrecidos a los jugadores.</p>

        <p><span class="text-bold">Nos reservamos el derecho de modificar estos términos de vez en cuando a nuestra entera discreción. Por lo
        tanto, debes revisar estas páginas periódicamente. Cuando cambiemos los Términos de una manera material, te
        notificaremos que se han realizado cambios importantes en los Términos. El uso continuado de la página web o
        nuestro servicio después de dicho cambio constituye tu aceptación de los nuevos Términos. Si no aceptas alguno
        de estos términos o cualquier versión futura de los Términos, no uses o accedas (o continúes accediendo) a la
        página web o al juego.</span></p>
      </div>
    </div>
  </div>
</main>