<app-header-pages [titulo]="titulo"></app-header-pages>

<main class="my-5">
  <div class="container">

    <div class="row gridTeam">
      <div class="col-12 col-md-6 col-lg-3 memberTeam" *ngFor="let member of members">
        <div class="cardMember">
          <img [src]="member.img" [alt]="member.name">
          <h4>{{ member.name }}</h4>
          <span>{{ member.job }}</span>
          <div class="rrss">
            <a *ngIf="member.ig !== ''" placement="top" ngbTooltip="Instagram" [href]="member.ig" target="_blank">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a *ngIf="member.fb !== ''" placement="top" ngbTooltip="Facebook" [href]="member.fb" target="_blank">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a *ngIf="member.lin !== ''" placement="top" ngbTooltip="Linkedin" [href]="member.lin" target="_blank">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a *ngIf="member.twt !== ''" placement="top" ngbTooltip="Twitter" [href]="member.twt" target="_blank">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a *ngIf="member.twc !== ''" placement="top" ngbTooltip="Twitch" [href]="member.twc" target="_blank">
              <fa-icon [icon]="faTwitch"></fa-icon>
            </a>
            <a *ngIf="member.git !== ''" placement="top" ngbTooltip="Github" [href]="member.git" target="_blank">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a *ngIf="member.ytb !== ''" placement="top" ngbTooltip="Youtube" [href]="member.ytb" target="_blank">
              <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
            <a *ngIf="member.web !== ''" placement="top" ngbTooltip="Website" [href]="member.web" target="_blank">
              <fa-icon [icon]="faGlobe"></fa-icon>
            </a>
          </div>
          <p class="mb-0">{{ member.comment }}</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

    </div>
  </div>
</main>