<app-header-pages [titulo]="titulo"></app-header-pages>

<main class="my-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni, ab incidunt impedit tempore molestiae modi at
          voluptatibus, quam est ad quis commodi neque necessitatibus perferendis fugit voluptatum dolores eos culpa eligendi
          labore quo animi. Aliquam, ratione quisquam accusamus mollitia incidunt doloremque ea quis nulla voluptatum, perferendis
          quidem beatae neque.
        </p>
      </div>
    </div>

    <div class="row gridTeam">
      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/danny-marquez.png" alt="danny marquez">
          <h4>Danny Márquez</h4>
          <span>CEO - Chief Executive Officer</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="http://" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Facebook" href="http://" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/daniel-rodriguez.png" alt="daniel rodriguez">
          <h4>Daniel Rodríguez</h4>
          <span>Developer BlockChain</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Github" href="https://github.com/drg809" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Linkedin" href="https://es.linkedin.com/in/daniel-rodr%C3%ADguez-garc%C3%ADa-003ba4213" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/gerardo-scollo.png" alt="gerardo scollo">
          <h4>Gerardo Scollo</h4>
          <span>CMO - Chief Marketing Officer</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="http://" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Facebook" href="http://" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/juan-molina.png" alt="juan molina">
          <h4>Juan Molina</h4>
          <span>CCO - Chief Comunnications Officer</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="http://" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Facebook" href="http://" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/leonardo-perez.png" alt="leonardo perez">
          <h4>Leonardo Pérez</h4>
          <span>CTO - Chief Technical Officer</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="https://instagram.com/leo.lopez.338?utm_medium=copy_link" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Twitter" href="https://twitter.com/Leonard15429055?t=v5UXqezTJvv-Nlfd49yFgA&s=09" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/luis-ramirez.png" alt="luis ramirez">
          <h4>Luis Ramírez</h4>
          <span>Graphic designer and illustrator</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="https://www.instagram.com/lrgrafico/" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Facebook" href="https://www.facebook.com/LRgrafico-107678308214348" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/martin-leiva.png" alt="martin leiva">
          <h4>Martin Leiva</h4>
          <span>COO - Chief Operating Officer</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="http://" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Facebook" href="http://" target="_blank"
              rel="noopener noreferrer">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/romano-stallocca.png" alt="romano stallocca">
          <h4>Romano Stallocca</h4>
          <span>CDO - Chief Digital Officer</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="https://www.instagram.com/romanostallocca/" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Twitch" href="https://www.twitch.tv/FuryusARG" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faTwitch"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, blanditiis.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->

      <div class="col-12 col-md-6 col-lg-3 memberTeam">
        <div class="cardMember">
          <img src="/assets/img/solenmarketing.png" alt="solenmarketing">
          <h4>SolenMarketing</h4>
          <span>Diseño y Desarrollo Web</span>
          <div class="rrss">
            <a placement="top" ngbTooltip="Instagram" href="https://instagram.com/solenmarketing/" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Facebook" href="https://facebook.com/solenmarketing" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a placement="top" ngbTooltip="Website" href="https://solenmarketing.com" target="_blank" rel="noopener noreferrer">
              <fa-icon [icon]="faGlobe"></fa-icon>
            </a>
          </div>
          <p class="mb-0">Un sitio web exitoso es el resultado del equilibrio entre tecnologías y conocimiento.</p>
        </div>
      </div>
      <!-- CARD MEMBER -->
    </div>
  </div>
</main>