<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center cwhite">Políticas de privacidad</h1>
            </div>
        </div>
    </div>
</header>

<main class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <p>
                    Al acceder y / o utilizar el Sitio y / o el Juego, se asume que usted es plenamente consciente,
                    comprende y acepta que
                    esta Política de privacidad se actualizará de vez en cuando y se aplicará a usted de inmediato sin
                    informarle ni su
                    consentimiento como siempre que continúe utilizando los Servicios. Por lo tanto, lea atentamente el
                    Descargo de
                    responsabilidad y la Política de privacidad por su propio bien.
                </p>
                <h4>RECOPILACIÓN Y USO DE INFORMACIÓN</h4>
                <p>
                    Recopilamos varios tipos diferentes de información para diversos fines para brindarle y mejorar
                    nuestros Servicios.
                </p>
                <p>
                    Tipos de datos recopilados:
                </p>
                <p>
                    1. Información que nos proporciona directamente.
                </p>
                <p>
                    Recopilamos la información que nos proporciona, que incluye, entre otros:
                </p>
                <ul>
                    <li>Información de identificación única de su Crypto wallet;</li>
                    <li>Información que proporciona en respuesta a encuestas sobre nuestro juego;</li>
                    <li>Información que proporciona cuando solicita nuestra ayuda, como su nombre, número de teléfono y registros, de los
                    problemas que experimenta.</li>
                </ul>
                <p>
                    2. Información que proporciona cuando juega en línea.
                </p>
                <p>
                    Cuando participa en funciones sociales entre el Sitio y / o el Juego, como el chat, cualquier información de audio,
                    visual y / o electrónica que divulgue puede ser leída, copiada, recopilada o utilizada por otros jugadores, y puede
                    convertirse en disponible públicamente. Cuando participa en el Juego, la información de su perfil en el juego, la
                    jugabilidad y las estadísticas son visibles. En los modos de juego competitivos, a nuestra entera discreción, podemos
                    grabar su juego.
                </p>
                <p>3. Otra información que recopilamos cuando utiliza nuestros servicios</p>
                <p>Podemos recopilar otra información automáticamente cuando utiliza nuestros Servicios, incluidos, entre otros:</p>
                <ul>
                    <li>Dirección IP;</li>
                    <li>Información sobre su dispositivo, hardware y software, como sus identificadores de hardware, identificadores de
                    dispositivos móviles (como el Identificador de publicidad de Apple [IDFA] o el ID de publicidad de Android [AAID]), el
                    tipo de plataforma, la configuración y los componentes, nuestro software y actualizaciones que haya instalado, y la
                    presencia de complementos necesarios;</li>
                    <li>Datos de geolocalización aproximados (derivados de la configuración de IP o dispositivo);</li>
                    <li>Información del navegador, incluido el tipo de navegador y la preferencia de idioma;</li>
                    <li>Páginas de referencia y de salida, incluidas las páginas visitadas y otras interacciones con el contenido web;</li>
                    <li>Detalles sobre los Productos que compra u obtiene, y el uso que hace de ellos;</li>
                    <li>Información de eventos del dispositivo, incluidos informes de fallas, URL de solicitud y referencia, y detalles de la
                    actividad del sistema (por ejemplo, si encontró un error al jugar nuestros juegos o perdió el acceso a Internet);</li>
                    <li>Otra información (como su imagen) que pueda proporcionar como parte de su participación en eventos en vivo</li>
                    <li>También podemos recopilar y almacenar información localmente en su dispositivo, utilizando mecanismos como cookies,
                    almacenamiento web del navegador (incluido HTML 5) y cachés de datos de aplicaciones. Los ejemplos de cookies que
                    utilizamos incluyen, entre otros: cookies de sesión, cookies de preferencia, cookies de seguridad.</li>
                </ul>
                <h4>USO DE DATOS</h4>
                <p>Usamos su información personal, tanto individualmente como combinada, de las siguientes maneras:</p>
                <p>Para operar nuestro juego, mejorar y personalizar su experiencia, incluso para:</p>
                <ul>
                    <li>Operar, mejorar y desarrollar el Sitio, el Juego y otros servicios;</li>
                    <li>Llevar a cabo investigaciones y análisis para desarrollar y demostrar nuestra tecnología y para comprender mejor a
                    nuestros jugadores;</li>
                    <li>Completar tablas de clasificación en línea y permitir el emparejamiento en línea;</li>
                    <li>Facilitar el intercambio en las redes sociales;</li>
                    <li>Gestionar y ofrecer publicidad contextual y dirigida;</li>
                    <li>Medir la eficacia y distribución de la publicidad, incluida la comprensión de quién se relaciona con nuestros servicios
                    y cómo interactúan con nuestros servicios;</li>
                    <li>Medir la salud de nuestros servicios;</li>
                    <li>Detectar incidentes de seguridad, protegerse contra actividades maliciosas, engañosas, fraudulentas o ilegales y
                    enjuiciar a los responsables de esa actividad;</li>
                    <li>Configurar y mantener cuentas en las que se registre;</li>
                    <li>Facilitar su juego en múltiples dispositivos y / o plataformas, si corresponde;</li>
                    <li>Identificar, corregir y solucionar errores o errores de funcionalidad;</li>
                    <li>Facilitar competencias y concursos;</li>
                    <li>Otros propósitos para los que usted da su consentimiento, se le notifica o se le revela de otro modo cuando proporciona
                    información personal.</li>
                </ul>
                <p>Para brindarle apoyo, que incluye:</p>
                <ul>
                    <li>Facilitar encuestas o cuestionarios; y</li>
                    <li>Comunicarse con usted y responder a sus solicitudes o preguntas específicas.</li>
                </ul>
                <p>Para personalizar nuestras comunicaciones con usted, incluidas, entre otras, las siguientes:</p>
                <ul>
                    <li>Brindarle actualizaciones del Servicio.</li>
                    <li>Retenemos la información que recopilamos durante el tiempo que sea necesario para proporcionar nuestros servicios, y
                    podemos retener esa información más allá de ese período si es necesario por razones legales, operativas u otras razones
                    legítimas.</li>
                    <li>También podemos desidentificar, anonimizar o agregar la información que recopilamos, o recopilarla de una manera que no
                    lo identifique directamente. Podemos usar y compartir dicha información según sea necesario para nuestros fines
                    comerciales y según lo permita la ley aplicable.</li>
                </ul>
                <h4>SEGURIDAD DE LOS DATOS</h4>
                <ul>
                    <li>
                        La seguridad de su información es una prioridad en nuestro Juego y Sitio y tomamos una serie de medidas técnicas y
                        organizativas para ayudar a protegerla, incluido el cifrado de información confidencial. No obstante, tenga en cuenta
                        que ninguna medida de seguridad es 100% perfecta. Por lo tanto, no podemos garantizar la seguridad de su información en
                        todo momento. Siempre debe ser diligente cuando se trata de la protección de su información personal.
                    </li>
                </ul>
                <h4>ENLACES A OTROS SITIOS</h4>
                <p>Nuestros Servicios pueden contener enlaces a otros sitios y medios que no son operados por nosotros. Si hace clic en el
                enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la política de
                privacidad de cada sitio que visite.</p>
                <p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de
                sitios o servicios de terceros.</p>
                <h4>PRIVACIDAD DE LOS NIÑOS</h4>
                <ul>
                    <li>Nuestros Servicios no se dirigen a ninguna persona menor de 18 años ("Niños" o de cualquier edad aplicable a la ley
                    local).</li>
                    <li>No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 18 años o de otra mayoría
                    de edad. Si usted es un padre o tutor y sabe que sus hijos nos han proporcionado datos personales, comuníquese con
                    nosotros. Si nos damos cuenta de que hemos recopilado datos personales de niños sin la verificación del consentimiento
                    de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</li>
                </ul>
                <h4>
                    CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD
                </h4>
                <ul>
                    <li>Es posible que actualicemos nuestra Política de privacidad de vez en cuando. Podemos notificarle de cualquier cambio
                    publicando la nueva Política de privacidad en esta página.</li>
                    <li>Podemos informarle a través de un aviso destacado en nuestro Sitio, antes de que el cambio entre en vigencia y
                    actualizar la "fecha de vigencia" en la parte superior de esta Política de privacidad.</li>
                    <li>Se le recomienda que revise esta Política de privacidad periódicamente para ver si hay cambios. Los cambios a esta
                    Política de privacidad entran en vigencia cuando se publican en esta página.</li>
                </ul>
            </div>
        </div>
    </div>
</main>