<app-navbar></app-navbar>
<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="mb-4 cwhite">Coin City</h1>
        <p class="mb-4 text-big">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
          sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        </p>
        <button (click)="lands()" mat-raised-button color="warn">EXPLORAR</button>
        <button mat-stroked-button color="warn">WHITEPAPER</button>
      </div>
      <div class="col-12 col-md-6">
        <img class="imgHeader" src="/assets/img/edificios-coin-city.png" alt="edificios-coin-city">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <img class="edificiosHeader" src="/assets/img/edificios-coin-city-2.png" alt="edificios-coin-city">
      </div>
      <div class="col-12 col-md-6 gridWhatIsCC">
        <h2 class="mb-4 cwhite">¿Qué es Coin City?</h2>
        <p class="mb-4 text-big">
          Es un juego diseñado para generar dinero a través de una inversión de capital inicial dónde también tendrás
          que combinar
          la habilidad y creatividad para que puedas construir tu propia ciudad.
        </p>
        <p class="mb-4">
          Esto permitirá un amplio comercio interno y externo en el juego, ya sea con
          ACTIVOS NFT que se almacenaran en Binance Smart Chain (BEP-20) como
          también NO-NFT usando almacenamiento interno (Conectividad Base de Datos).
        </p>
        <button mat-raised-button color="warn">SABER MÁS</button>
      </div>
    </div>
  </div>
</header>

<div class="bg-nubes"></div>

<section #land id="lands">
  <div class="container">
    <div class="row title">
      <div class="col-12">
        <h2>Lands de Coin City</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <img src="/assets/img/land-coin-city.png" alt="land-coin-city" width="500px">
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land Coin City</h3>
        <p class="mb-4 text-big">
          Es el comienzo de la ciudad, aquí donde podrás aplicar tu trabajo de
          arrendador para tus inquilinos y generar ingresos pasivos en alquileres.
        </p>
        <p>
          Puedes habilitar un máximo de (5) propiedades las cuales son:
        </p>
        <ul>
          <li>(3) casas básicas.</li>
          <li>(1) casa dúplex.</li>
          <li>(1) edificio con pent-house.</li>
        </ul>
        <p>
          De momento estas son las propiedades para arrendar. Podrás decorar y desarrollar tu ciudad para
          convertirte en una gran metrópolis.
        </p>
      </div>
    </div>
  </div>
  <!-- Land coin city -->

  <div class="nubeTransparente"></div>

  <div class="container rowMTNegative-400">
    <div class="row cwhite">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land the ore mine</h3>
        <p class="mb-4 text-big">
          Esta es una mina de minerales, la cual podrás desbloquear subiendo de
          nivel tu ciudad al nivel máximo (200).
        </p>
        <p>
          En el nivel 200 podrás activar esta land y operar en ella. Se habilitaran ciertos minijuegos de construcción y
          minería,
          tambien generarán más recompensas, luego podrás comprar el personaje NFT llamado (Boss Gold) y tener 3 mineros
          especialistas para trabajar en tu mina.
        </p>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <img src="/assets/img/land-the-ore-mine.png" alt="land-the-ore-mine" width="500px">
      </div>
      <div class="nubesBlancas"></div>
    </div>
  </div>
  <!-- Land the ore mine -->

  <div class="container">
    <div class="row cwhite">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <img src="/assets/img/land-fishing-port.png" alt="land-fishing-port" width="500px">
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land fishing port.<br />Rare – basic</h3>
        <p class="mb-4 text-big">
          El puerto pesquero en la cual podrás desarrollar tus habilidades de
          pescador, tendrás a tu mando cuatro marineros y un capitán de nave para
          poder explotar la industria de la pesca.
        </p>
        <p>
          También tendrás barcos pesqueros, aquí generaras recompensas en automático donde vas a tener
          que cumplir ciertas necesidades de tu personal de trabajo. También podrás comprar el personaje
          NFT (The King Of Fishing). Te habilitará 3 marineros especialistas para explotar el mar en la pesca.
        </p>
      </div>
    </div>
  </div>
  <!-- Land fishing port. Rare – basic -->

  <div class="nubeTransparente"></div>

  <div class="container rowMTNegative-400">
    <div class="row cwhite">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land Sahara desert.<br />Rare - uncommon</h3>
        <p class="mb-4 text-big">
          El desierto de Sahara, fundamentalmente atractivo por ser muy rico en
          recursos naturales.
        </p>
        <p>
          Con grandes yacimientos en fosfatos, petróleo, gas, y circonita, a lo que habría que sumar la arena
          que llega por miles de toneladas, este tipo de LAND NFT es muy productiva por su atractiva riqueza
          de recursos, una vez obtenido el personaje NFT (King ASH) podrás desbloquear 3 mineros
          especialista para explotar las riquezas.
        </p>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <img src="/assets/img/land-sahara-desert.png" alt="land-sahara-desert" width="500px">
      </div>
    </div>
  </div>
  <!-- Land the ore mine -->

</section>
<app-footer></app-footer>