@import '/src/theme/colors.scss';

// MEDIA QUERIES

@mixin ultraSmall {
    @media only screen and (max-width: 435px) {
        @content;
    }
}

@mixin extraSmall {
    @media only screen and (max-width: 520px) {
        @content;
    }
}

@mixin small {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: 991px) {
        @content;
    }
}
@mixin large {
    @media only screen and (max-width: 1201px) {
        @content;
    }
}

header {
    background-image: url("/assets/img/background-header-coin-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 2000px;
    margin-top: -70px;
    padding-top: 300px;
}

h1,
h2 {
    font-size: 48px;
    line-height: 48px;
    @include large {
        font-size: 40px;
    }
}
h3 {
    font-size: 30px;
    line-height: 40px;
    @include extraSmall {
        font-size: 25px;
        line-height: 30px;
    }
}
.cwhite {
    color: white;
}
.cwhite.cblack {
    color: white;
    @include small {
        color: var(--dark);
    }
}
.cwhiteUltraSmall {
    @include ultraSmall {
        color: white;
    }
}
header p {
    color: white;
    line-height: 25px;
    font-size: 15px;
}
.text-big {
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 400 !important;
}
header .imgHeader {
    margin-top: -100px;
    @include medium {
        width: 400px;
        margin-top: -70px;
    }
    @include small {
        margin-left: 100px;
    }
    @include extraSmall {
        width: 300px;
        margin-left: 120px;
        margin-top: -50px;
    }
    @include ultraSmall {
        margin: 0 auto 0 40px;
    }
}
header .edificiosHeader {
    width: 888px;
    margin-left: -400px;
    margin-top: -100px;
    @include large {
        margin-left: -500px;
        margin-top: -40px;
    }
    @include medium {
        margin-left: -600px;
        margin-top: 20px;
    }
}
.gridWhatIsCC {
    padding-top: 100px;
}

.imgTerreno {
    width: 500px;
    @include large {
        width: 400px;
    }
    @include medium {
        width: 300px;
    }
    @include small {
        margin: auto;
    }
}

.bg-nubes {
    background-image: url("/assets/img/nubes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 779px;
    margin-top: -600px;
    position: relative;
    z-index: 1;
}

section {
    padding: 50px 0;
}

section .mb-150 {
    margin-bottom: 150px;
}
section#lands {
    background-image: url("/assets/img/bg-blue.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    ul li {
        @include small {
            list-style-type: none;
        }
    }
}
section#lands h2 {
    text-align: center;
}

.nubeTransparente {
    background-image: url("/assets/img/nubes-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 618px;
    width: 100%;
}
.nubesBlancas {
    background-image: url("/assets/img/nubesBlancas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 521px;
    width: 100%;
    margin-top: -300px;
    position: relative;
    z-index: 1;
    @include medium {
        top: 78px;
    }
}

.rowMTNegative-400 {
    margin-top: -400px;
}
.rowMTPositive-200 {
    @include small {
        margin-top: 200px;
    }
}

.cardModalidad {
    box-shadow: 0px 0px 40px 4px rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    min-height: 450px;
    transform: translateY(0);
    transition: all 0.2s ease-in;
    @include medium {
        min-height: 356px;
        box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
        margin-bottom: 30px
    }
    img {
        @include large {
            width: 150px;
        }
    }
}

.cardModalidad:hover {
    transform: translateY(-25px);
    box-shadow: 0px 0px 40px 4px rgb(0 0 0 / 15%);
}

.cardModalidad h4 {
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px 0;
}

.listNumber {
    list-style-type: number;
}

.gridMonedaCity {
    margin: 100px 0;
}

.monedaCity {
    margin-left: auto;
    width: 300px;
    @include small {
        margin: auto;
    }
    @include extraSmall {
        width: 150px;
    }
}
.monedaMony {
    margin-right: auto;
    width: 300px;
    @include small {
        margin: auto;
    }
    @include extraSmall {
        width: 150px;
    }
}

.modal-body h5 {
    font-size: 25px;
    line-height: 30px;
}
.modal-body h5 span {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}
.modal-body p span {
    font-weight: 700;
    margin-bottom: 10px;
}

.modal-body .badge {
    width: 100%;
    border-radius: 5px;
    color: white;
    padding: 8px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    @include medium {
        margin-bottom: 10px;
    }
}
.modal-body .badge.orange {
    background-color: #f2994a;
}
.modal-body .badge.yellow {
    background-color: #e4b72e;
}
.modal-body .badge.red {
    background-color: #eb5757;
}
.modal-body .badge.green {
    background-color: #6fcf97;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -ms-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
}
