<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 pt-md-5">
        <h1 class="mb-4 cwhite">CoinCity</h1>
        <p class="mb-4 text-big">
          ¡Haz amig@s, construye tu ciudad, diviértete y disfruta de este juego. Un lugar donde conectarás tu imaginación!
        </p>
        <button class="mr-md-2" (click)="lands()" mat-raised-button color="primary">EXPLORAR</button>
        <button mat-stroked-button color="primary">WHITEPAPER</button>
      </div>
      <div class="col-12 col-md-6">
        <img class="imgHeader" src="/assets/img/edificios-coin-city.png" alt="edificios-coin-city">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 d-none d-md-block">
        <img class="edificiosHeader" src="/assets/img/edificios-coin-city-2.png" alt="edificios-coin-city">
      </div>
      <div class="col-12 col-md-6 gridWhatIsCC">
        <h2 class="mb-4 cwhite">¿Qué es CoinCity?</h2>
        <p class="mb-4 text-big">
          Es un juego diseñado para generar dinero a través de una inversión de capital inicial donde también tendrás
          que combinar
          la habilidad y creatividad para que puedas construir tu propia ciudad.
        </p>
        <p class="mb-4">
          Esto permitirá un amplio comercio interno y externo en el juego, ya sea con
          ACTIVOS NFT que se almacenarán en Binance Smart Chain (BEP-20) como
          también NO-NFT usando almacenamiento interno (Conectividad Base de Datos).
        </p>
        <button class="position-relative" [routerLink]="['/coincity']" mat-raised-button color="primary" style="z-index: 2;">SABER MÁS</button>
      </div>
    </div>
  </div>
</header>

<div class="bg-nubes"></div>

<section #land id="lands">

  <div class="container">
    <div class="row mb-150 pt-5 pt-lg-0">
      <div class="col-12">
        <h2 class="text-primary">Lands de CoinCity</h2>
      </div>
    </div>

    <div class="row text-center text-md-left" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-6 d-none d-md-flex flex-column justify-content-center">
        <img class="imgTerreno" src="/assets/img/casa-basica.png" alt="casa-basica">
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land CoinCity</h3>
        <p class="mb-4 text-big">
          Es el comienzo de tu ciudad, aquí es donde podrás aplicar tu trabajo de arrendador para tus inquilinos y generar
          ingresos pasivos en alquileres.
        </p>
        <p>
          Puedes habilitar un máximo de 6 espacios y edificar dependiendo de los espacios que requiera las estructuras, estas
          pueden ser:
        </p>
        <ul>
          <li>Casas Básicas</li>
          <li>Casa Dúplex</li>
          <li>Edificio con Penthouse</li>
        </ul>
        <p>
          De momento estas son las propiedades para arrendar. Podrás decorar y desarrollar tu ciudad para convertirte en una gran
          metrópolis.
        </p>
      </div>
      <div class="col-12 d-flex d-md-none flex-column justify-content-center">
        <img class="imgTerreno" src="/assets/img/land-coin-city.png" alt="land-coin-city">
      </div>
    </div>
  </div>
  <!-- Land CoinCity -->

  <div class="nubeTransparente"></div>

  <div class="container rowMTNegative-400">
    <div class="row text-center text-md-left" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land The Ore Mine</h3>
        <p class="mb-4 text-big">
          Esta es una mina que contiene diferentes tipos de minerales, podrás desbloquear esta mina subiendo de nivel tu ciudad al
          nivel máximo 100.
        </p>
        <p>
          En el nivel 100 podrás activar esta land y operar en ella. Se habilitaran ciertos mini juegos de construcción y minería,
          también generarán más recompensas, luego podrás comprar el personaje NFT llamado (Boss Gold) y tener 3 mineros
          especialistas para trabajar en tu mina. Novedades y Actualizaciones próximamente.
        </p>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <img src="/assets/img/land-the-ore-mine.png" alt="land-the-ore-mine" class="imgTerreno">
      </div>
      <div class="nubesBlancas"></div>
    </div>
  </div>
  <!-- Land the ore mine -->

  <div class="container">
    <div class="row cwhite cblack text-center text-md-left" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-6 d-none d-md-flex flex-column justify-content-center">
        <img src="/assets/img/land-fishing-port.png" alt="land-fishing-port" class="imgTerreno">
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land Fishing Port<br /><span class="text-lightgreen">Rare Basic</span></h3>
        <p class="mb-4 text-big">
          El puerto pesquero en la cual podrás desarrollar tus habilidades de
          pescador, tendrás a tu mando cuatro marineros y un capitán de nave para
          poder explotar la industria de la pesca.
        </p>
        <p>
          También tendrás barcos pesqueros, aquí generaras recompensas en automático donde vas a tener
          que cumplir ciertas necesidades de tu personal de trabajo. También podrás comprar el personaje
          NFT (The King Of Fishing). Te habilitará 3 marineros especialistas para explotar el mar en la pesca.
        </p>
      </div>
      <div class="col-12 d-flex d-md-none flex-column justify-content-center">
        <img src="/assets/img/land-fishing-port.png" alt="land-fishing-port" class="imgTerreno">
      </div>
    </div>
  </div>
  <!-- Land fishing port. Rare – basic -->

  <div class="nubeTransparente"></div>

  <div class="container rowMTNegative-400">
    <div class="row cwhite cblack text-center text-md-left" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land Sahara Desert <br /><span class="text-blue">Rare Uncommon</span></h3>
        <p class="mb-4 text-big">
          El desierto de Sahara, fundamentalmente atractivo por ser muy rico en
          recursos naturales.
        </p>
        <p>
          Con grandes yacimientos en fosfatos, petróleo, gas, y circonita, a lo que habría que sumar la arena
          que llega por miles de toneladas, este tipo de LAND NFT es muy productiva por su atractiva riqueza
          de recursos, una vez obtenido el personaje NFT (King ASH) podrás desbloquear 3 mineros
          especialista para explotar las riquezas.
        </p>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <img src="/assets/img/land-sahara-desert.png" alt="land-sahara-desert" class="imgTerreno">
      </div>
    </div>
  </div>
  <!-- Land Sahara desert -->

  <div class="container">
    <div class="row text-center text-md-left rowMTPositive-200" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-6 d-none d-md-flex flex-column justify-content-center">
        <img src="/assets/img/land-monte-elbrus.png" alt="land-monte-elbrus" class="imgTerreno">
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land Monte Elbrús<br /><span class="text-lila">Rare Epic</span></h3>
        <p class="mb-4 text-big">
          El monte Elbrús, a primera vista es el pico más alto de todas las LANDS
          NFT.
        </p>
        <p>
          Es muy rica en el mineral de carbón podrás explotar todas las minas que hay en ella en la cual
          podrás introducir el personaje NFT (Snow Boss) y se habilitaran 3 mineros especialistas. También,
          podrás habilitar más opciones de ingreso de recompensa en esta LAND próximamente.
        </p>
      </div>
      <div class="col-12 d-flex d-md-none flex-column justify-content-center">
        <img src="/assets/img/land-monte-elbrus.png" alt="land-monte-elbrus" class="imgTerreno">
      </div>
    </div>
  </div>
  <!-- Land Monte Elbrús -->

  <div class="container">
    <div class="row text-center text-md-left rowMTPositive-200" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <h3 class="mb-4">Land Dubái<br /><span class="text-dorado">Rare Legendary</span></h3>
        <p class="mb-4 text-big">
          Dubái aquí puedes desarrollar muchas cosas teniendo en cuenta que es la
          LAND NFT que más va a generar recompensa y recursos.
        </p>
        <p>
          Va a tener un gran campo de petróleo en la cual se habilitara el personaje NFT (Boss Emir).
          Automáticamente tendrás 3 mineros especialistas y 1 supervisor de mineros (este personaje va
          aumentar la productividad de los mineros). Novedades y actualizaciones próximamente.
        </p>
      </div>
      <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
        <img src="/assets/img/land-dubai.png" alt="land-dubai" class="imgTerreno">
      </div>
    </div>
  </div>
  <!-- Land Sahara desert -->
</section>

<section id="modalidades">
  <div class="container">
    <div class="row mb-5" animation="zoomIn" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 text-center">
        <h2>¿Cómo funciona?</h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-md-8 offset-md-2 text-center">
        <p>
          Cada uno de los inversionistas generarán recompensas de diferentes maneras, estas recompensas serán generadas a través
          de la criptomoneda "$CITY", recordemos que queremos simular a la vida real y en el trayecto de tu ciudad tendrás
          diferentes dificultades que se informaran durante el proceso, tendremos diferentes modalidades para generar recompensas.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
        <div class="cardModalidad">
          <img src="/assets/img/modalidad-1.png" alt="modalidad-1">
          <h4>Modalidad 1</h4>
          <p>
            Podrás interactuar con los inquilinos de tus propiedades como por ejemplo: dar servicio de plomería, pintar
            la
            propiedad, servicios de seguridad de la misma.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
        <div class="cardModalidad">
          <img src="/assets/img/modalidad-2.png" alt="modalidad-2">
          <h4>Modalidad 2</h4>
          <p>
            Misiones diarias dentro de la ciudad, aparte del ingreso pasivo de los alquileres de tus propiedades.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
        <div class="cardModalidad">
          <img src="/assets/img/modalidad-3.png" alt="modalidad-3">
          <h4>Modalidad 3</h4>
          <p>
            Habrá un sistema de nivel, mientras más juegues y mejor construyas tu metrópolis podrás ganar más
            recompensas.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
        <div class="cardModalidad">
          <img src="/assets/img/modalidad-4.png" alt="modalidad-4">
          <h4>Modalidad 4</h4>
          <p>
            Cada determinado tiempo se abrirán eventos dentro del mismo, abriendo un ecosistema de mini juegos dentro de
            la ciudad.
            Estos juegos pueden ser implementados (Construcción, Medico, Chef, Mecánico).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="ecosistema">
  <div class="container">
    <div class="row mb-5" animation="zoomIn" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 text-center">
        <h2>Ecosistema de la moneda</h2>
      </div>
    </div>

    <div class="row gridMonedaCity" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-5 d-flex d-md-none flex-column justify-content-center mb-3">
        <img class="rotating monedaCity" src="/assets/img/moneda-city.png" alt="moneda-city" width="300px">
      </div>
      <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
        <h3 class="mb-4">$CITY (Off-Game token) cryptocurrency built on Binance Smart Chain (BEP-20)</h3>
        <p class="mb-4 text-big">
          $CITY es la criptomoneda de CoinCity. Los usuarios podrán usar la criptomoneda para:
        </p>
        <ul class="listNumber">
          <li>Construir edificios especiales en la ciudad.</li>
          <li>Comprar constructores para mejorar el tiempo de construcción.</li>
          <li>Mejorar de nivel las estructuras (Evaluando con equipo de Desarrollo).</li>
          <li>Comprar materiales o implementos para las LANDS NFT (Actualizaciones y Novedades).</li>
          <li>Renovar alquileres de las propiedades.</li>
          <li>Desbloquear nuevas modalidades de juego (Futuramente habrá un Metaverso dentro de Coin City)</li>
          <li>Comprar recursos de atención a los NPC (Inquilinos) como por ejemplo: Plomería, Pintura, Seguridad.</li>
          <li>Construir estructuras básicas para la ciudad.</li>
        </ul>
      </div>
      <div class="col-12 col-md-5 d-none d-md-flex flex-md-column justify-content-center">
        <img class="rotating monedaCity" src="/assets/img/moneda-city.png" alt="moneda-city">
      </div>
    </div>
    <!-- moneda city -->

    <div class="row mb-5" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-5 d-flex flex-column justify-content-center mb-3 mb-md-0">
        <img class="rotating monedaMony" src="/assets/img/balanza.png" alt="balanza">
      </div>
      <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
        <h3 class="mb-4">ORÁCULO BLOCKCHAIN COINCITY</h3>
        <p class="mb-4 text-big">
          El propósito del oráculo de precios es equilibrar la adquisición del Token City obtenido a través de los pagos de
          alquileres, junto con los costos de acuñación al valor actual en dólares del token $CITY.
        </p>
        <p class="mb-4">
          Esto significa que: Si aumenta el valor en dólares por cada Token $CITY, se disminuirán las recompensas en $CITY. Si el
          precio del Token $CITY en dólares disminuye, se cumple lo contrario de lo anterior.
        </p>
        <p>
          El oráculo ajustará dinámicamente los costos y las recompensas hacia arriba o hacia abajo según los cambios en el valor
          en dólares del Token $CITY.
        </p>
        <h4>Uso y Razón para el sistema Oráculo Blockchain</h4>
        <p>El uso del oráculo se agrega para que la economía del juego se equilibre en torno a un valor en dólares establecido. Una
        cantidad limitada de Token $CITY que puede circular en la economía, y una gran afluencia de jugadores probablemente
        agotaría todos los token presentes en el contrato del juego.</p>
      </div>
    </div>
    <div class="row" animation="fadeInUp" delay="0" duration="1000" triggerOnce="false">
      <div class="col-12 col-md-8 offset-md-2 text-left text-md-center">
        <p>Al utilizar el oráculo, CoinCity forma una correlación entre los usuarios activos y el valor en dólares del token. La
          suposición es que cuando aumenta el precio de $CITY, la demanda de $CITY también aumenta a través del lanzamiento de
          nuevas funciones del juego o la afluencia de nuevos jugadores. El oráculo asegurará pagos consistentes en dólares por
          transacción en el momento en que se realizó, además de garantizar que los costos de acuñación de las NFT se mantengan
          en
          un valor constante en dólares.</p>
        <p>Esto significa que los costos de entrada y las recompensas se pueden equilibrar y mantener durante períodos de tiempo
          prolongados, y reflejarán con precisión los costos de ganancia deseada para permitir que los nuevos jugadores tengan
          la
          oportunidad de jugar incluso si aumenta el valor en dólares del $CITY.</p>
      </div>
    </div>
    <!-- BLOCKCHAIN COINCITY -->

    <div class="row my-5">
      <div class="col-12 col-md-4 offset-md-4">
        <button (click)="open(content)" mat-raised-button color="primary" class="w-100">INFORMACIÓN DE CONVERSIÓN</button>
      </div>
    </div>
  </div>
</section>


<ng-template #content let-modal>
  <div class="modal-header pb-0" style="border:none">
    <h3 class="modal-title" id="modal-basic-title">Información de conversión</h3>
    <button type="button" class="close" style="outline: none;" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-row align-items-center mb-3">
      <img class="mr-3" src="/assets/img/moneda-city-small.png" alt="moneda-city">
      <h5 class="m-0"><span>$City</span> Valores determinado por el Oráculo Blockchain.</h5>
    </div>
    <p>
      <ngb-alert [dismissible]="false" class="d-flex flex-column text-center">
        <span>¡Importante!</span>
        Se habilitara un impuesto por el retiro de la criptomoneda $CITY del porcentaje 5% en la cual se implementara un 2% para
        el reingreso a la pool de recompensa, 2% para el constante desarrollo de CoinCity y finalmente 1% para la quema de la
        moneda.
      </ngb-alert>
    </p>
    <p>
      Información de retiros: Se cuenta desde el primer día de inicio de sesión del usuario al juego, para los retiros. Se
      hará un retiro cada 15 días y se va a realizar de la siguiente manera: si se retira antes de los 15 días tendrá una
      penalización con un porcentaje del 30% en la cual va haber una deducción del 2% diariamente. Habilitaremos un tablero de
      supervisión del estatus para las transacciones de los retiros las cuales son:
    </p>

    <div class="row my-3">
      <div class="col-12 col-md-6 col-lg-3">
        <span class="badge orange">Withdrawal in<br />process</span>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <span class="badge yellow">Withdrawal under<br />supervision</span>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <span class="badge red">Withdrawal<br />canceled</span>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <span class="badge green">Approved<br />Withdrawal</span>
      </div>
    </div>

    <p>
      Recordemos que este sistema de estatus para el retiro se implementa para que los usuarios puedan darle
      seguimiento y verificar su depósito en su billetera, los retiros serán totalmente descentralizados (Esto quiere
      decir que si su retiro indica color rojo es porque tiene algún tipo de problema con la red Binance Smart Chain),
      los demás colores las respuestas son lógicas.
    </p>
  </div>
</ng-template>