<app-navbar></app-navbar>
<header>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="mb-4 cwhite">Coin City</h1>
        <p class="mb-4 text-big">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus
          sit amet luctus venenatis, lectus magna fringilla urna, porttitor
        </p>
        <button (click)="lands()" mat-raised-button color="warn">EXPLORAR</button>
        <button mat-stroked-button color="warn">WHITEPAPER</button>
      </div>
      <div class="col-12 col-md-6">
        <img class="imgHeader" src="/assets/img/edificios-coin-city.png" alt="edificios-coin-city">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <img class="edificiosHeader" src="/assets/img/edificios-coin-city-2.png" alt="edificios-coin-city">
      </div>
      <div class="col-12 col-md-6 gridWhatIsCC">
        <h2 class="mb-4 cwhite">¿Qué es Coin City?</h2>
        <p class="mb-4 text-big">
          Es un juego diseñado para generar dinero a través de una inversión de capital inicial dónde también tendrás
          que combinar
          la habilidad y creatividad para que puedas construir tu propia ciudad.
        </p>
        <p class="mb-4">
          Esto permitirá un amplio comercio interno y externo en el juego, ya sea con
          ACTIVOS NFT que se almacenaran en Binance Smart Chain (BEP-20) como
          también NO-NFT usando almacenamiento interno (Conectividad Base de Datos).
        </p>
        <button mat-raised-button color="warn">SABER MÁS</button>
      </div>
    </div>
  </div>
</header>

<div class="bg-nubes"></div>

<section #land id="lands">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Lands de Coin City</h2>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>