@import "/src/theme/colors.scss";
@import "/src/theme/responsive.scss";

@include medium {
    .mb-separator {
        margin-bottom: 200px !important;
    }
}
@include small {
    .mb-separator {
        margin-bottom: 100px !important;
    }
}
header {
    background-image: url("/assets/img/background-header-coin-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 2000px;
    margin-top: -70px;
    padding-top: 300px;
}
header .imgHeader {
    margin-top: -100px;
    @include large {
        width: 450px;
        margin-top: -70px;
    }
    @include medium {
        width: 350px;
        margin-top: -30px;
    }
    @include small {
        margin-left: 0;
    }
    @include extraSmall {
        width: 300px;
        margin-left: 120px;
        margin-top: -50px;
    }
    @include ultraSmall {
        margin: 0 auto 0 40px;
    }
}

header .imgHeader2 {
    margin-top: 100px;
    width: 500px;
    @include medium {
        width: 350px;
        margin-top: -70px;
    }
    @include small {
        margin-left: 0;
        margin-top: 0;
    }
    @include extraSmall {
        width: 300px;
        margin-left: 120px;
        margin-top: -50px;
    }
    @include ultraSmall {
        margin: 0 auto 0 40px;
    }
}

header p {
    color: white;
    line-height: 25px;
    font-size: 15px;
}

.bannerWhite {
    background-color: white;
    box-shadow: 0px 0px 40px 4px rgb(0 0 0 / 10%);
    border-radius: 0px 5px 5px 0px;
    padding: 50px 50px 50px 150px;
    width: 80%;
    margin-top: -100px;
    position: relative;
    img {
        position: absolute;
        top: -300px;
    }
    @include small {
        width: 100%;
         padding: 50px;
         text-align: center;
    }
}

section#objetivos {
    margin: 100px 0;
    img {
        margin-left: -260px;
        margin-top: -50px;
        @include medium {
            width: 400px;
            margin-left: -198px;
            margin-top: 80px;
        }
        @include small {
            width: 200px;
            margin-left: 0;
            margin-top: 0;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}
th,
td {
    text-align: center;
    padding: 15px 8px;
}
table thead tr th {
    border: none;
    text-transform: uppercase;
}
table thead tr th,
table tbody tr td {
    width: 16.66% !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}

.blue {
    color: #2d9cdb;
}
.aqua {
    color: #56ccf2;
}
.lila {
    color: #9b51e0;
}
.orange {
    color: #f2994a;
}
