@import "/src/theme/colors.scss";
@import "/src/theme/responsive.scss";

@include medium {
    .mb-separator {
        margin-bottom: 200px !important;
    }
}
@include small {
    .mb-separator {
        margin-bottom: 100px !important;
    }
}
header {
    background-image: url("/assets/img/background-header-coin-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 2000px;
    margin-top: -70px;
    padding-top: 300px;
    @include medium {
        background-attachment: inherit;
    }
}
header .imgHeader {
    margin-top: -100px;
    @include large {
        width: 450px;
        margin-top: -70px;
    }
    @include medium {
        width: 350px;
        margin-top: -30px;
    }
    @include small {
        margin-left: 0;
    }
    @include extraSmall {
        width: 300px;
        margin-left: 120px;
        margin-top: -50px;
    }
    @include ultraSmall {
        margin: 0 auto 0 40px;
    }
}

header .imgHeader2 {
    margin-top: 100px;
    width: 500px;
    @include medium {
        width: 350px;
        margin-top: -70px;
    }
    @include small {
        margin-left: 0;
        margin-top: 0;
    }
    @include extraSmall {
        width: 300px;
    }
    @include ultraSmall {
        margin: 0 auto 0 40px;
    }
}

header p {
    color: white;
    line-height: 25px;
    font-size: 17px;
    @include small {
        font-size: 15px;
    }
}

.bannerWhite {
    background-color: white;
    box-shadow: 0px 0px 40px 4px rgb(0 0 0 / 10%);
    border-radius: 0px 5px 5px 0px;
    padding: 50px 50px 50px 150px;
    width: 80%;
    margin-top: -100px;
    position: relative;
    img {
        position: absolute;
        top: -300px;
    }
    @include medium {
        padding: 25px;
    }
    @include small {
        width: 100%;
        padding: 25px;
        text-align: center;
    }
}

section#objetivos {
    margin: 100px 0;
    img {
        margin-left: -260px;
        margin-top: -30px;
        @include large {
            margin-left: 0;
            margin-top: 0;
            width: 400px;
        }
        @include small {
            width: 200px;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}
th,
td {
    text-align: center;
    padding: 15px 8px;
}
table thead tr th {
    border: none;
    text-transform: uppercase;
}
table thead tr th,
table tbody tr td {
    width: 16.66% !important;
}
table thead tr th:first-of-type,
table tbody tr td:first-of-type {
    width: 900px !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}

.blue {
    color: #2d9cdb;
}
.aqua {
    color: #56ccf2;
}
.orange {
    color: #f2994a;
}

/**/

.timeline {
    width: 100%;
    height: auto;
    position: relative;
    .roadmap {
        background-color: transparent;
        background-image: url("/assets/img/roadmap-coincity-3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 280px;
        height: 2008px;
        margin: auto;
        position: relative;
    }
    .cardRoad {
        width: 433px;
        height: auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 40px 4px rgb(0 0 0 / 10%);
        border-radius: 5px;
        position: absolute;
        @include extraSmall {
            width: 350px;
        }
        h4 {
            font-weight: 600;
            font-size: 20px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                right: -119px;
                top: 50%;
                height: 0;
                width: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid transparent;
                border-left: 100px solid white;
                @include medium {
                    display: none;
                }
            }
        }
        &:nth-child(odd) h4::after {
            left: -120px;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-right: 100px solid white;
            border-left: none;
        }
        ul {
            margin: 0;
            padding: 0 0 0 20px;
            li {
                font-size: 15px;
            }
        }
        fa-icon {
            font-size: 50px;
            position: absolute;
            right: 25px;
            top: -30px;
        }
        &:nth-child(odd) {
            right: 0;
            @include medium {
                right: 136px;
            }
            @include small {
                right: 46px;
            }
            @include extraSmall {
                right: 65px;
            }
            @include ultraSmall {
                right: 33px;
            }
            @include superSmall {
                right: 7px;
            }
        }
        &:nth-child(even) {
            left: 0;
            @include medium {
                left: 120px;
            }
            @include small {
                left: 30px;
            }
            @include extraSmall {
                left: 50px;
            }
            @include ultraSmall {
                left: 23px;
            }
            @include superSmall {
                left: 3px;
            }
        }
        &:nth-child(2) {
            top: 150px;
        }
        &:nth-child(3) {
            top: 500px;
        }
        &:nth-child(4) {
            top: 750px;
            @include medium {
                top: 900px;
            }
        }
        &:nth-child(5) {
            top: 1012px;
            @include medium {
                top: 1300px;
            }
        }
        &:nth-child(6) {
            top: 1500px;
            @include medium {
                top: 1700px;
            }
        }
    }
}

.alertRoad {
    font-weight: 400;
    font-size: 17px;
    span {
        font-weight: 700;
        margin-bottom: 10px;
    }
}
