<header>
  <div class="container">
    <div class="row mb-separator text-center text-md-left">
      <div class="col-12 col-md-6 pt-md-5 mb-5 mb-md-0">
        <h1 class="mb-4 cwhite">¿Qué es Coin City?</h1>
        <p class="mb-4 text-big">
          Es un juego diseñado para generar dinero a través de una inversión de capital inicial dónde también tendrás
          que combinar
          la habilidad y creatividad para que puedas construir tu propia ciudad.
        </p>
        <p>
          Esto permitirá un amplio comercio interno y externo en el juego, ya sea con
          ACTIVOS NFT que se almacenaran en Binance Smart Chain (BEP-20) como
          también NO-NFT usando almacenamiento interno (Conectividad Base de Datos).
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img class="imgHeader" src="/assets/img/edificios-coin-city.png" alt="edificios-coin-city">
      </div>
    </div>

    <div class="row text-center text-md-left">
      <div class="col-12 col-md-6 d-none d-md-block">
        <img class="imgHeader2" src="/assets/img/casa-sencilla.png" alt="casa-sencilla">
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center flex-column">
        <h1 class="mb-4 cwhite">Comienzas como pequeño inversor</h1>
        <p class="mb-4 text-big">
          Iniciaras desarrollando la idea de generar arrendamientos primeramente de casas basicas y edificios teniendo en cuenta los diferentes retos de la ciudad. Tienes que tener en mente un objetivo y es ¡Completar tu ciudad!
        </p>
      </div>
      <div class="col-12 col-md-6 d-block d-md-none">
        <img class="imgHeader2" src="/assets/img/casa-sencilla.png" alt="casa-sencilla">
      </div>
    </div>
  </div>
</header>

<div class="bannerWhite" animation="slideInLeft" duration="2000" delay="50" triggerOnce="false">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9">
        <p class="mb-4 text-big">
          El inicio de tu Ciudad, te daremos la bienvenida y te acompañara tu asistente Denisse para que te ayude a cumplir tus objetivos diarios y te enseñe un poco como ser un gran Inversor y Arrendador, la idea es que aprendas y visualizes como edificar tu ciudad. ¡Suerte!
        </p>
        <p>
          Observaras que habrá una lucha interna por quien será el mejor inversionista y el mejor magnate de las metrópolis. A medida que va pasando el tiempo podrás adquirir diferentes tierras que serán reveladas durante el proceso, cada tierra tiene su función especial y también personajes, en la cual te ayudaran en el crecimiento de tu metrópolis. Recuerda mientras más evoluciones más ingresos pasivos recibirás, tendrás una metrópolis en tus manos en la cual serás un inversionista exitoso y respetado.
        </p>
      </div>
      <div class="col-12 col-md-3 d-none d-md-block">
        <img src="/assets/img/obrero.png" alt="obrero">
      </div>
    </div>
  </div>
</div>

<section id="objetivos">
  <div class="container">
    <div class="row mb-150" animation="zoomIn" duration="500" delay="0" triggerOnce="false">
      <div class="col-12">
        <h2 class="text-center">Objetivos de Coin City</h2>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-xl-5" animation="fadeInUp" duration="1000" delay="0" triggerOnce="false">
        <h2 class="text-center text-md-left">Presente</h2>
        <p class="text-center text-md-left">
          Desarrollar una nueva modalidad de juego que sea facil para todo tipo de inversionista y jugador que ingresen a este proyecto, fomentar la acción de jugar como la palabra lo indica e incentivar a las personas a pasar tiempo en él, dando la facilidad para que todo tipo de personas puedan jugar e interactuar con este juego, desarrollando las ideas de inversión y creatividad. Ser los mejores en esta nueva era digital en juegos NFT.
        </p>
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-left mb-3 mb-md-0" animation="fadeInUp" duration="1000" delay="50" triggerOnce="false">
        <img src="/assets/img/torres.png" alt="torres">
      </div>
      <div class="col-12 col-xl-5" animation="fadeInUp" duration="1000" delay="0" triggerOnce="false">
        <h2 class="text-center text-md-left">Futuro</h2>
        <p class="text-center text-md-left">
          Fundamentalmente queremos innovar en el mundo de los juegos NFT, Vamos a evolucionar tanto en el juego como el equipo de desarrollo, se tiene planificado grandes proyectos para el bienestar de Coin City, unas de ellas por revelar es implementarnos en un país como oficina central de Coin City y poder crear vacantes de trabajo. Queremos que el juego salga más allá de una pantalla y poder conseguir más adelante contratos con grandes empresas para brindar la publicidad en el juego, como por ejemplo McDonald’s, Starbucks, Concesionarios de Autos Ford, Chevrolet, Fiat entre otras grandes empresas, como publicidad se puede brindar la estructura dentro del juego para que se visualice a cada uno de los jugadores y puedan colocarlo en su ciudad. Tenemos en cuenta sacar mucho mas novedades y actualizaciones que van a surgir durante este camino largo.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="tokenomics" class="mb-5">
  <div class="container">
    <div class="row mb-5" animation="zoomIn" duration="500" delay="50" triggerOnce="false">
      <div class="col-12">
        <h2 class="text-center">Tokenomics System</h2>
      </div>
    </div>

    <div class="row" animation="fadeInUp" duration="500" delay="50" triggerOnce="false">
      <div class="col-12">
        <div style="overflow-x:auto;">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Entities Distributions</th>
                <th>CITY Amount</th>
                <th>Proportions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-100 blue">
                  CITY Rewards and Ecosystem.
                </td>
                <td class="w-100">
                  150.000.000
                </td>
                <td class="w-100 text-success">
                  50%
                </td>
              </tr>
              
              <tr>
                <td class="w-100 text-success">
                  Presale Whitelist and Presale Public.
                </td>
                <td class="w-100">
                  30.000.000
                </td>
                <td class="w-100 text-success">
                  10%
                </td>
              </tr>

              <tr>
                <td class="w-100 text-primary">
                  Marketing, Financial and digital advice.
                </td>
                <td class="w-100">
                  30.000.000
                </td>
                <td class="w-100 text-success">
                  10%
                </td>
              </tr>

              <tr>
                <td class="w-100 text-danger">
                  Coin City Development TEAM.
                </td>
                <td class="w-100">
                  30.000.000
                </td>
                <td class="w-100 text-success">
                  10%
                </td>
              </tr>

              <tr>
                <td class="w-100 aqua">
                  Staking
                </td>
                <td class="w-100">
                  45.000.000
                </td>
                <td class="w-100 text-success">
                  15%
                </td>
              </tr>

              <tr>
                <td class="w-100 lila">
                  Tournaments and contests with the community
                </td>
                <td class="w-100">
                  15.000.000
                </td>
                <td class="w-100 text-success">
                  5%
                </td>
              </tr>

              <tr>
                <td class="w-100 orange">
                  Total Supply
                </td>
                <td class="w-100">
                  300.000.000
                </td>
                <td class="w-100 text-success">
                  100%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    
  </div>
</section>