@import "/src/theme/colors.scss";
@import "/src/theme/responsive.scss";

@include medium {
    .mb-separator {
        margin-bottom: 200px !important;
    }
}
@include small {
    .mb-separator {
        margin-bottom: 100px !important;
    }
}
header {
    background-image: url("/assets/img/background-header-coin-city.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 2000px;
    margin-top: -70px;
    padding-top: 300px;
    @include medium {
        background-attachment: inherit;
    }
}
header .imgHeader {
    margin-top: -100px;
    @include large {
        width: 450px;
        margin-top: -70px;
    }
    @include medium {
        width: 350px;
        margin-top: -30px;
    }
    @include small {
        margin-left: 0;
    }
    @include extraSmall {
        width: 300px;
        margin-left: 120px;
        margin-top: -50px;
    }
    @include ultraSmall {
        margin: 0 auto 0 40px;
    }
}

header .imgHeader2 {
    margin-top: 100px;
    width: 500px;
    @include medium {
        width: 350px;
        margin-top: -70px;
    }
    @include small {
        margin-left: 0;
        margin-top: 0;
    }
    @include extraSmall {
        width: 300px;
        margin-left: 120px;
        margin-top: -50px;
    }
    @include ultraSmall {
        margin: 0 auto 0 40px;
    }
}

header p {
    color: white;
    line-height: 25px;
    font-size: 17px;
    @include small {
        font-size: 15px;
    }
}

.bannerWhite {
    background-color: white;
    box-shadow: 0px 0px 40px 4px rgb(0 0 0 / 10%);
    border-radius: 0px 5px 5px 0px;
    padding: 50px 50px 50px 150px;
    width: 80%;
    margin-top: -100px;
    position: relative;
    img {
        position: absolute;
        top: -300px;
    }
    @include medium {
        padding: 25px;
    }
    @include small {
        width: 100%;
        padding: 25px;
        text-align: center;
    }
}

section#objetivos {
    margin: 100px 0;
    img {
        margin-left: -260px;
        margin-top: -30px;
        @include large {
            margin-left: 0;
            margin-top: 0;
            width: 400px;
        }
        @include small {
            width: 200px;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
}
th,
td {
    text-align: center;
    padding: 15px 8px;
}
table thead tr th {
    border: none;
    text-transform: uppercase;
}
table thead tr th,
table tbody tr td {
    width: 16.66% !important;
}
table thead tr th:first-of-type,
table tbody tr td:first-of-type {
    width: 900px !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}

.blue {
    color: #2d9cdb;
}
.aqua {
    color: #56ccf2;
}
.orange {
    color: #f2994a;
}

/**/

.timeline {
    width: 100%;
    height: auto;
    position: relative;
    .roadmap {
        background-image: url("/assets/img/roadmap-coincity.png");
        width: 692px;
        height: 1798px;
        margin: auto;
        position: relative;
        fa-icon {
            font-size: 50px;
            position: absolute;
            &:nth-child(1) {
                left: 50%;
                top: 80px;
            }
            &:nth-child(2) {
                left: 70%;
                top: 491px;
            }
            &:nth-child(3) {
                left: 212px;
                top: 705px;
            }
            &:nth-child(4) {
                left: 23%;
                top: 1012px;
            }
            &:nth-child(5) {
                left: 65%;
                top: 1456px;
            }
        }
    }
    .cardRoad {
        width: 433px;
        height: auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 40px 4px rgb(0 0 0 / 10%);
        border-radius: 5px;
        position: absolute;
        h4 {
            font-weight: 600;
            font-size: 20px;
        }
        ul {
            margin: 0;
            padding: 0 0 0 20px;
            li {
                font-size: 15px;
            }
        }
        fa-icon {
            font-size: 50px;
            position: absolute;
            right: 25px;
            top: -30px;
        }
        &:nth-child(2) {
            left: 0;
            top: 150px;
        }
        &:nth-child(3) {
            right: -100px;
            top: 500px;
        }
        &:nth-child(4) {
            left: -80px;
            top: 750px;
        }
        &:nth-child(5) {
            right: 0;
            top: 1012px;
        }
        &:nth-child(6) {
            left: 0;
            top: 1500px;
        }
    }
}
