:root {
  --primary: #efbc14;
  --secondary: #047763;
  --dark: #4f4f4f;
  --accent: #51d6c2;
  --danger: #EB5757;
  --grey: #d8d5c4;
  --accent: #649e4d; // or any global you wish to share with components
  --success: #27AE60; // or any global you wish to share with components
}