@font-face {
    font-family: 'Alfa Slab One';
    src: url('../assets/fonts/AlfaSlabOne-Regular.woff2') format('woff2'),
        url('../assets/fonts/AlfaSlabOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-regular: 'Alfa Slab One'

