$custom-primary: (
  50: #FDF2F2,
  100: #FADDDD,
  200: #F7C7C7,
  300: #F4B1B1,
  400: #F1A0A0,
  500: #EF8F8F,
  600: #ED8787,
  700: #EB7C7C,
  800: #E87272,
  900: #E46060,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #FFE9E9,
  A700: #FFCFCF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$custom-accent: (
  50: #FDF2ED,
  100: #FADED1,
  200: #F7C8B3,
  300: #F4B195,
  400: #F1A17E,
  500: #EF9067,
  600: #ED885F,
  700: #EB7D54,
  800: #E8734A,
  900: #E46139,
  A100: #FFFFFF,
  A200: #FFFCFB,
  A400: #FFFCFB,
  A700: #FFC0AE,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);