$custom-primary: (
  50: #fdfce6,
  100: #faf8c1,
  200: #f7f398,
  300: #f4ee6e,
  400: #f1e94b,
  500: #eee425,
  600: #f0d420,
  700: #efbc14,
  800: #eea403,
  900: #ec7b00,
  A100: #4F4F4F,
  A200: #4F4F4F,
  A400: #4F4F4F,
  A700: #f7f398,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$custom-accent: (
  50: #d9f5f1,
  100: #9fe6da,
  200: #51d6c2,
  300: #00c3a9,
  400: #00b396,
  500: #00a383,
  600: #009676,
  700: #008566,
  800: #007557,
  900: #00583a,
  A100: #FFFFFF,
  A200: #FFFCFB,
  A400: #FFFCFB,
  A700: #9fe6da,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
