@import "/src/theme/colors.scss";
@import "/src/theme/responsive.scss";

.navbar {
    background-color: transparent;
    position: relative;
    z-index: 10;
}
.navlinks {
    font-size: 15px;
}
.navlinks a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: var(--primary);
    }
}
.active {
    color: var(--primary) !important;
}

#modal-staking {
    background-image: url("/assets/img/banner-staking.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 600px;
    @include medium {
        background-position: top center;
    }
    @include small {
        min-height: 400px;
        background-position: center;
    }
    @include extraSmall {
        min-height: 300px;
        background-position: top center;
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        background-color: white;
        position: fixed;
        width: 100%;
        min-height: 70px;
        left: 0;
        top: 0;
        img {
            width: 150px;
        }
    }
    .navlinks a {
        color: #4f4f4f;
    }
}
