<mat-toolbar class="navbar py-2 px-0">
    <div class="container">
        <a [routerLink]="['/']"><img src="/assets/img/logo-coin-city.png" alt="logo-coin-city"></a>
        <div class="navlinks d-none d-lg-flex align-items-center">
            <a [routerLink]="['/inicio']" routerLinkActive="active">INICIO</a>
            <a [routerLink]="['/coincity']" routerLinkActive="active">COINCITY</a>
            <a [routerLink]="['/team']" routerLinkActive="active">TEAM</a>
            <a (click)="open(staking)" class="cpointer">STAKING</a>
            <a href="https://bscscan.com/token/0x6c8c7c0260E1D8A882955b822748Bb797e23b526" target="_blank" mat-stroked-button color="primary" class="mr-2 text-primary">CONTRACT</a>
            <a mat-raised-button color="primary" class="text-dark">WHITEPAPER</a>
        </div>
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon d-lg-none"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="drawer-container" style="margin-top: -70px; background-color: white;">
    <mat-sidenav mode="over" #drawer style="margin-top: 55px; width: 200px; position: fixed" class="pt-5 d-lg-none">
        <mat-nav-list role="list">
            <mat-list-item (click)="drawer.toggle()" [routerLink]="['/inicio']" routerLinkActive="active" mat-list-item role="listitem">
                INICIO
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" [routerLink]="['/coincity']" routerLinkActive="active" mat-list-item role="listitem">
                COINCITY
            </mat-list-item>
            <mat-list-item (click)="drawer.toggle()" [routerLink]="['/team']" routerLinkActive="active" mat-list-item role="listitem">
                TEAM
            </mat-list-item>
            <mat-list-item mat-list-item (click)="open(staking); drawer.toggle()" class="cpointer" role="listitem">
                STAKING
            </mat-list-item>
            <a href="https://bscscan.com/token/0x6c8c7c0260E1D8A882955b822748Bb797e23b526" target="_blank" (click)="drawer.toggle()" mat-list-item class="cpointer" role="listitem">
                CONTRACT
            </a>
            <a (click)="drawer.toggle()" mat-list-item class="cpointer" role="listitem">
                WHITEPAPER
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content #sidenavContent>

        <router-outlet></router-outlet>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #staking let-modal>
    <div class="modal-header pb-0" style="border:none">
        <button type="button" style="outline: none;" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <mat-icon>clear</mat-icon>
        </button>
    </div>
    <div id="modal-staking" class="modal-body"></div>
</ng-template>
