/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #4F4F4F;
}

h1,
h2,
h3 {
    font-family: "Alfa Slab One", Roboto, "Helvetica Neue", sans-serif !important;
}
